* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

.dark {
  background-color: rgb(48, 48, 48);
  color: white;
}

.container {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

button {
  outline: none;
  border: 0;
  background: transparent;
}

.toggle {
  font-size: 18px;
  cursor: pointer;
}

.form-control {
  width: 400px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  position: relative;
  border-radius: 5px
}

.search {
  width: 100%;
  padding: 18px 14px;
  outline: 0;
  border: 0;
  font-size: 15px;
  cursor: pointer;
}

.drop-down-container {
  width: 200px;
  position: relative;
}

.drop-down {
  width: 100%;
  padding: 15px 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 15px;
}

.drop {
  position: absolute;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  top: 60px;
  padding: 5px 15px;
  width: 100%;
  border-radius: 5px;
  background: rgb(223, 223, 223);
  cursor: pointer;
}

.drop-text {
  margin: 5px 0;
}

.countries {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.country {
  min-height: 300px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  width: 220px;
  border-radius: 5px;
  overflow: hidden;
}

.img {
  width: 220px;
  height: 150px;
}

.country-info {
  padding: 20px 20px;
}

.country-title {
  padding: 7px 0;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.country-text {
  font-weight: 500;
  letter-spacing: 0.5px;
}

.show-drop-down {
  display: none;
}